.josefin-sans-header {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  
  .background-image {
    background-image: url('/Images/Degradado.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
}

@font-face {
  font-family: 'VVDS Fifties Cond Light'; 
  src: url('/fonts/VVDS-Fifties-Cond-Light.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}


.salina-font {
  font-family: 'Salina Trial Black', sans-serif;
}

.Noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
  cursor: default;
}


.inline-flex.items-center.gap-2:hover {
    transition: none; 
}

.btn-shine {
  color: #fff;
  background: linear-gradient(to right, #34a0f8, #fff, #34a0f8);
  background-size: 200% auto;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 10s linear infinite;
  font-weight: 600;
  font-size: 16px;
  text-decoration: none;
  white-space: nowrap;
  font-family: "Poppins", sans-serif;
  margin-top: 2rem; 
  margin-left: 4rem;
}

@keyframes shine {
  0% {
    background-position: 200% center;
  }
  50% {
    background-position: 0% center;
  }
  100% {
    background-position: 200% center;
  }
}

.cards {
  perspective: 500px;
}

.card {
  width: 200px;
  height: 150px;
  background: linear-gradient(135deg, #211831 0%, #111113 100%);
  border: 2px solid #555555;
  border-radius: 4px;
  position: relative;
  transform-style: preserve-3d;
  will-change: transform;
  transition: transform .5s;
}

.card:hover {
  transform: translateZ(5px) rotateX(5deg) rotateY(10deg);
}




.cards1 {
  perspective: 500px;
}

.card1 {
  width: 200px;
  height: 150px;
  background: linear-gradient(135deg, #211831 0%, #111113 100%);
  border: 2px solid #555555;
  border-radius: 4px;
  position: relative;
  transform-style: preserve-3d;
  will-change: transform;
  transition: transform .5s;
}

.card1:hover {
  transform: translateZ(-5px) rotateX(-5deg) rotateY(-10deg);
}

