.josefin-sans-header {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  
   body {
      background-color: #030514;
      position: relative;
  }
  
  body::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 350px;
      height: 530px; 
      background: radial-gradient(circle, rgba(78, 9, 124, 0.705), rgba(3, 5, 20, 0));
      transform: translate(-40%, -80%) rotate(45deg);
      filter: blur(50px); 
      z-index: -1; 
  }

@font-face {
  font-family: 'VVDS Fifties Cond Light'; 
  src: url('/fonts/VVDS-Fifties-Cond-Light.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}


.salina-font {
  font-family: 'Salina Trial Black', sans-serif;
}

.Noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
  cursor: default;
}


.inline-flex.items-center.gap-2:hover {
    transition: none; 
}

.btn-shine {
  color: #fff;
  background: linear-gradient(to right, #34a0f8, #fff, #34a0f8);
  background-size: 200% auto;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 10s linear infinite;
  font-weight: 600;
  font-size: 16px;
  text-decoration: none;
  white-space: nowrap;
  font-family: "Poppins", sans-serif;
  margin-top: 2rem; 
  margin-left: 4rem;
}

@keyframes shine {
  0% {
    background-position: 200% center;
  }
  50% {
    background-position: 0% center;
  }
  100% {
    background-position: 200% center;
  }
}

.cards {
  perspective: 500px;
}

.card {
  width: 200px;
  height: 200px;
  background: linear-gradient(135deg, #26173f 0%, #0f1049 100%);
  border: 1px solid #ee46d8;
  border-radius: 4px;
  position: relative;
  transform-style: preserve-3d;
  will-change: transform;
  transition: transform .5s;
}

.card:hover {
  transform: translateZ(5px) rotateX(5deg) rotateY(10deg);
}

.cards1 {
  perspective: 500px;
}

.card1 {
  width: 200px;
  height: 200px;
  background: linear-gradient(135deg, #26173f 0%, #0f1049 100%);
  border: 1px solid #ee46d8;
  border-radius: 4px;
  position: relative;
  transform-style: preserve-3d;
  will-change: transform;
  transition: transform .5s;
}

.card1:hover {
  transform: translateZ(-5px) rotateX(-5deg) rotateY(-10deg);
}

.wrapped {
  border: 1px solid #fcfcfc;
  width: 60%;
  max-width: 1536px;
  margin-inline: auto;
  position: relative;
  height: 130px;
  margin-top: 8rem; 
  overflow: hidden;
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0) 0%,    /* Transparente en el extremo izquierdo */
    rgba(0, 0, 0, 1) 20%,   /* Opaco desde 20% del contenedor */
    rgba(0, 0, 0, 1) 80%,   /* Opaco hasta el 80% del contenedor */
    rgba(0, 0, 0, 0) 100%   /* Transparente en el extremo derecho */
  );
}


@keyframes scrollLeft {
  0% {
    left: 100%;
  }
  100% {
    left: -200px; /* Ajusta esto según el ancho de tus elementos */
  }
}

.item {
  margin: 0; /* Asegúrate de que no haya márgenes adicionales */
  padding: 0; /* Asegúrate de que no haya rellenos adicionales */
  width: 200px;
  height: 130px;
  background-color: red;
  border-radius: 6px;
  position: absolute;
  animation-name: scrollLeft;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.item1 {
  animation-delay: calc(5s / 3 * 2 * -1); /* Ajusta el delay según la duración de la animación */
}

.item2 {
  animation-delay: calc(5s / 3 * 1 * -1); /* Ajusta el delay según la duración de la animación */
}